#container {
	display: flex;
	flex-direction: column;
}

#main-title{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}
#main-title *{
	margin-left: auto;
	margin-right: auto;
}

#login-window {
	border: 1px solid;
	width: 80%;
	max-width: 400px;
	margin: auto;
	height: 150px;
}

#login-button {
	width: 100px;
	height: 50px;
	background-color: orange;
	color: white;	
	border: 0;
}

#login-enter {
	display: flex;
}

#login-enter-right{
	margin-left: 10px;
}

#login-window form {
	display: flex;
	justify-content: space-around;
	height: 100%;
}

#login-window form *{
	margin-top: auto;
	margin-bottom: auto;
}




